/*
  amsAjax
  ams 編輯面板
*/

.amsDetailAjaxArea {
  // z-index: 13 !important;

  .ajaxItem {
    width: 90%;
    max-width: 750px;

    .ajaxContainer {
      .detailEditor {
        .editorBody {
          // height: calc(100vh - 50px);

          .editorHeader {
            width: 100%;
            position: static;

            .info {
              width: 100%;

              .title {
                position: static;

                &::after {
                  background-color: #3a9eea;
                }
              }

              .area {
                width: 100%;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                h3 {
                  width: 100%;
                  margin: 15px 30px 15px 0;
                  word-break: break-all;
                  min-height: 55px;
                  height: auto;
                }

                .control {
                  position: static;
                  padding: 0;
                  margin: 0;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;

                  .btnGroup {
                    .check {
                      background-color: #3a9eea;
                    }
                  }
                }
              }

              .tips {
                margin-top: 0;
                margin-bottom: 15px;
              }
            }
          }

          .editorContent {
            margin-top: 0;
            margin-bottom: 50px;

            .box_block_frame {
              .inventory {
                // flex-direction: column;
                // justify-content: flex-start;
                // align-items: flex-start;
                // padding: 30px 0 30px 0;
                // border-bottom: solid 1px #000;

                &.fileInformation {
                  padding: 0;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  border-bottom: 5px solid #775ac2;

                  .file_frame {
                    background-color: #3d4042;
                    width: 100%;
                    height: 350px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: relative;

                    .file_frame_info {
                      .img_box {
                        width: 100%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        img {
                          width: auto;
                          max-width: 520px;
                          max-height: 240px;

                          &.auto {
                            width: 200px !important;
                            height: 200px !important;
                          }

                          &.w-auto {
                            width: auto !important;
                            height: 200px !important;
                          }

                          &.h-auto {
                            height: auto !important;
                          }
                        }
                      }

                      .info_box {
                        color: #fff;
                        text-align: center;
                        margin-top: 20px;
                      }
                    }

                    .toolBtn {
                      position: absolute;
                      right: 20px;
                      bottom: 20px;

                      .icon {
                        cursor: pointer;
                        width: 33px;
                        height: 33px;
                        margin-bottom: 1px;
                        background-color: #fff;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                      }
                    }
                  }
                }

                &.row_style {
                  > .inner {
                    // width: 36vw;

                    .file_date {
                      p {
                        font-weight: bold;
                      }
                    }
                  }

                  > .title {
                    /* width: 8.5vw; */
                    padding-top: 0;
                  }

                  .title {
                    .img_box {
                      cursor: pointer;
                      border-radius: 50%;
                      width: 100px;
                      height: 100px;
                      overflow: hidden;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                      img {
                        width: 100%;
                      }
                    }
                  }

                  .subtitle {
                    width: 100%;
                    margin-bottom: 0;

                    &.t-a-c {
                      font-size: 12px;
                    }
                  }

                  .info_text {
                    width: 100%;
                    line-height: 25px;

                    .title {
                      font-size: 0.9rem;
                      font-weight: bold;
                      margin-bottom: 10px;
                    }

                    p {
                      font-size: 12px;
                    }
                  }

                  .inner_box {
                    border-bottom: solid 1px #eaeaea;
                    font-family: var(--baseFont);
                    width: 100%;
                    padding-bottom: 20px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    &:last-child {
                      border-bottom: none;
                    }

                    &:not(:last-child) {
                      margin-bottom: 20px;
                    }

                    .state_button {
                      width: 100%;
                    }

                    .radio {
                      label {
                        margin: 0;
                      }

                      input {
                        position: absolute;
                        left: 0;
                        top: 0;

                        &[type="radio"]:checked + label:before {
                          border-color: #3a9eea;
                        }
                      }
                    }

                    .state_button {
                      li {
                        width: auto;
                        max-width: none;
                        position: relative;
                      }
                    }
                  }

                  .ios_switch {
                    .box {
                      width: 30px;
                      height: 10px;

                      .ball {
                        width: 15px;
                        height: 15px;
                        top: -5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
