/* d_editor_objects */
.form-control {
  font-size: 1.3rem;
}
.datepicker {
  font-size: 1.3rem;
}

.datetime-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  > input {
    font-size: 1.3rem;
    position: relative;
    width: 200px;
    color: #000;
    padding: 8px 12px;
    border-radius: 3px;
    border: solid 1px transparent;
    background-color: #f5f5f5;
    &:focus {
      border: solid 1px #5e00ff;
    }

    + input {
      margin-left: 5px;
    }
  }

  .input-group-addon {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0;
    margin: 0 10px;
  }
}

.____input {
  width: 100%;
}

.normal_input,
.____input input {
  color: #000;
  width: 100%;
  min-height: 42px;
  padding: 4px 12px;
  border-radius: 3px;
  border: solid 1px transparent;
  background-color: #f5f5f5;

  & + .normal_input {
    margin-top: 10px;
  }

  &::placeholder {
    color: #9e9e9e;
  }

  &:focus {
    border: solid 1px #5e00ff;
    background-color: #fff;

    &::placeholder {
      color: #9e9e9e;
    }
  }
}

.____tagsinput {
  &.bootstrap-tagsinput {
    width: 100%;
    color: #000;
    padding: 10px 12px;
    border-radius: 0;
    border: solid 1px #c7c7c7;
    background-color: #efefef;
    border-radius: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;

    .tag {
      font-size: 14px;
      line-height: 1.5;
      font-weight: normal;
      color: #fff;
      background-color: #000;
      background-image: none;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #000;
      border-radius: 0;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      display: inline-block;
      margin: 6px -5px 5px 7px;
      padding: 2px 20px 4px 15px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

      &:hover {
        color: #000;
        background-color: #fff;

        [data-role="remove"] {
          color: #000;
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      [data-role="remove"] {
        font-size: 12px;
        font-weight: normal;
        margin: 1px 10px 0 0;
        float: left;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

        &::after {
          font-family: "pages-icon";
          content: "\e60a";
          padding: 1px 0 0 0;
          display: block;
        }
      }
    }

    input {
      color: #000;
      width: auto;
      min-width: auto;
      background-color: transparent;
      padding: 10px 12px;
      margin: 0;
      border-radius: 0;
      border: solid 1px transparent;
      &::-webkit-input-placeholder {
        color: #333;
      }

      &:focus {
        border: solid 1px #5e00ff;
        background-color: transparent;

        &::-webkit-input-placeholder {
          color: #000;
        }
      }
    }
  }

  &.onfocus {
    border: solid 1px #000;
    background-color: #fff;
  }
}

textarea,
.normal_textarea,
.____normal_textarea {
  color: #000;
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 8px 12px;
  border-radius: 3px;
  border: solid 1px transparent;
  background-color: #f5f5f5;
  white-space: pre-wrap;

  &::-webkit-input-placeholder {
    color: #333;
  }

  &:focus {
    border: solid 1px #5e00ff;
    background-color: #fff;

    &::-webkit-input-placeholder {
      color: #000;
    }
  }
}

.switch,
.____switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  margin-bottom: 0;

  input {
    opacity: 0;
    width: 100%;
    height: 100%;

    &:checked + .slider {
      background-color: #000;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #5e00ff;
    }

    &:checked + .slider:before {
      transform: translate(17px, -50%);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    border: 1px solid #ccc;
    transition: 0.4s;

    &.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }

    &::before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      background-color: white;
      box-shadow: 1px 0px 5px #888888;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      transition: 0.4s;
    }
  }
}

.ios_switch,
.____ios_switch {
  height: 20px;
  display: flex;
  align-items: center;

  .title {
    word-break: keep-all;
    font-size: 1.2rem;
  }

  input {
    display: none;
  }

  .box {
    cursor: pointer;
    background-color: #ccc;
    border: solid 1px #ccc;
    border-radius: 20px;
    width: 30px;
    height: 10px;
    position: relative;
    transition: all 0.5s ease 0s;
  }

  .ball {
    background-color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -3px;
    top: -4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease 0s;
  }

  &.s_ball {
    .box {
      width: 37px;
      height: 22px;
    }

    .ball {
      width: 20px;
      height: 20px;
      left: 15px;
    }
  }

  &.on {
    .ball {
      left: 17px;
    }

    .box {
      background-color: #5e00ff;
      border: solid 1px #5e00ff;
    }
  }
}

.picture_box,
.____picture_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 3px;

  .frame {
    // margin-right: 20px;
    // margin-bottom: 20px;
    position: relative;

    .box {
      min-height: 102px;
      max-width: 200px;
      border: solid 1px transparent;
      border-radius: 3px;
      background-color: #fff;
      width: 177.78px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      &:hover {
        border: solid 1px #5e00ff;
        background-color: #fff;
      }

      .icon {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        &::before {
          color: #000;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .info {
      padding: 5px 0 0 0;

      p {
        text-align: center;
      }
    }

    img {
      cursor: pointer;
      max-width: 100%;
      max-height: 100px;
    }

    .tool {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease 0s;
    }

    .t_icon {
      cursor: pointer;
      background-color: #fff;
      width: 33px;
      height: 33px;
      margin-top: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .has_img {
    .box {
      .icon {
        display: none;
      }

      &:hover {
        border: solid 1px #5e00ff;

        .tool {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.select2_multiple {
  position: relative;
  .select2_controllers {
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 35px;
    display: flex;
    gap: 0 15px;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.____select2 {
  &.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  + .select2 {
    &.select2-container {
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      position: relative;
      vertical-align: middle;
      width: 100% !important;
    }

    .selection {
      .select2-selection {
        min-height: 42px;
        background-color: #f5f5f5;
        border-radius: 3px;
        border: 1px solid transparent;
        padding: 4px 10px !important;
        display: flex;
        gap: 10px;
        position: relative;

        transition: border 0.2s linear 0s !important;

        &::before {
          content: "\f105";
          font-size: 1rem;
          font-family: FontAwesome;
          text-shadow: none;
          margin: 0;
          display: block;
          position: absolute;
          top: 17px;
          right: 15px;
          transition: 0.12s ease;
          transform-origin: center;
        }

        &.select2-selection--single {
          height: 42px;
        }

        &.select2-selection--multiple {
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          padding: 4px 150px 4px 10px !important;
          min-height: 42px;

          user-select: none;
          cursor: text;

          .select2-selection__rendered {
            .select2-selection__clear {
              padding: 0 8px;
              margin: 10px 10px;
            }

            .select2-search--inline {
              margin: 0;

              .select2-search__field {
                margin: 0;
                padding: 5px 5px;
                height: 31px;
              }
            }
          }

          .select2-selection__choice {
            color: #000000;
            line-height: 1;
            background-color: #ffffff;
            background-image: none;
            border: 2px solid transparent;
            border-radius: 3px;
            width: auto;
            padding: 7px 11px;
            margin: 0;
            display: flex;
            flex-direction: row-reverse;
            gap: 0 5px;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
            transition: 0.5s;
            cursor: grab;
            &:active {
              cursor: grabbing;
            }

            .select2-selection__choice__remove {
              color: #888888;
              font-weight: 700;
              font-size: 1rem;
              margin-top: 2px;
              cursor: pointer;
              display: inline-block;
              transition: 0.5s;
            }

            &:hover,
            &:visited,
            &:active {
              color: #000;
              border: 2px solid #5e00ff;

              .select2-selection__choice__remove {
                color: #000;
              }
            }
          }
        }

        .select2-selection__rendered {
          color: #333;
          line-height: 1;
          padding: 0;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: flex;
          align-items: center;
          gap: 10px;

          input {
            width: 100% !important;
          }
        }

        .select2-selection__arrow {
          display: none;
          width: 20px;
          height: 26px;
          border: 0px;
          background: transparent;
          position: absolute;
          top: auto;
          bottom: 7px;
          right: 12px !important;
          left: auto;
          transition: all 0.3s ease;

          b {
            width: 0;
            height: 0;
            border-width: 5px 4px 0 4px;
            border-color: #000 transparent transparent transparent;
            border-style: solid;
            top: 50%;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            transition: 0.5s;
            transform: rotate(0);
          }
        }

        // &:hover {
        //   .select2-selection__arrow {
        //     b {
        //       -webkit-transform: rotate(0deg);
        //       -ms-transform: rotate(0deg);
        //       transform: rotate(0deg);
        //     }
        //   }
        // }
      }
    }

    &.select2-container--open {
      .selection {
        .select2-selection {
          border: 1px solid #5e00ff !important;
          transition: border 0.2s linear 0s !important;
          &::before {
            transform: rotate(90deg);
            color: #5e00ff;
          }

          &.select2-selection--single {
            background-color: #fff !important;
            transition: border 0.2s linear 0s !important;
            height: 42px;
          }

          &.select2-selection--multiple {
            transition: border 0.2s linear 0s !important;
            // padding: 0 !important;

            .select2-selection__rendered {
              .select2-search--inline {
                margin: 0;

                // .select2-search__field {
                //   width: auto !important;
                //   margin: 0;
                //   padding: 10px 12px;
                // }
              }
            }

            // .select2-selection__choice {
            //   color: #fff;
            //   background-color: #000 !important;
            // }
          }
        }
      }
    }

    .select2-selection__clear {
      cursor: pointer;
      padding: 0 10px;
      float: right;
      font-weight: bold;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

      &:hover,
      &:visited,
      &:active {
        color: #000;
      }

      &:hover {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

.select2-container {
  .select2-results__option {
    padding: 8px 15px;
    &[aria-selected="true"] {
      background-color: #f5f5f5 !important;
    }
    &.select2-results__option--highlighted {
      &[aria-selected] {
        background-color: #000000 !important;
        color: white !important;
      }
    }
    &.select2-results__message {
    }

    .select2-results__group {
      padding: 0 20px;
    }
    .select2-results__options--nested {
      padding-block: 10px;
      li {
        padding: 10px 20px;
        &.select2-results__option--highlighted {
          color: #fff;
          background-color: #000 !important;
        }
      }
    }
  }
  .select2-dropdown {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border: none;
    padding: 15px 0;
    border-radius: 3px;
    &:has(.select2-search) {
      padding: 0 0 15px 0;
    }
    .select2-search {
      display: block;
      padding: 4px;
      padding-inline: 15px;
      margin-bottom: 10px;
      background-color: #f5f5f5;
      .select2-search__field {
        border: 1px solid transparent;
        background-color: transparent;
        min-height: 40px;
      }
    }
  }
}

// .select2-container {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   display: inline-block;
//   margin: 0;
//   position: relative;
//   vertical-align: middle;

//   &.select2-container--default {
//     &.select2-container--open {
//       border-bottom: none;
//       border-bottom-left-radius: 0;
//       border-bottom-right-radius: 0;

//       .select2-search--dropdown {
//         background: #eee !important;
//         padding: 10px 30px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-bottom: 1px solid #c7c7c7 !important;

//         &::before {
//           content: "SEARCH";
//           color: #333;
//           display: inline-block;
//           width: 80px;
//           height: 20px;
//           font-weight: bold;
//         }

//         .select2-search__field {
//           font-size: 20px;
//           line-height: 1.5;
//           color: #333;
//           width: 100%;
//           background: transparent !important;
//           border: 0 !important;
//           border-radius: 0;
//           padding: 5px 0;
//           -webkit-box-sizing: border-box;
//           box-sizing: border-box;
//           vertical-align: baseline;

//           &:focus {
//             color: #000;
//           }
//         }
//       }

//       .select2-results {
//         margin: 0;
//         display: block;

//         .select2-results__option {
//           padding: 6px;
//           -moz-user-select: none;
//           -ms-user-select: none;
//           user-select: none;
//           -webkit-user-select: none;

//           .select2-results__group {
//             color: #000;
//             cursor: default;
//             display: block;
//             padding: 25px 0 10px 30px !important;
//           }

//           .select2-results__option--highlighted {
//             padding: 20px;
//           }

//           &.select2-results__message {
//             padding: 25px 30px 0 30px !important;
//           }

//           &[role="group"] {
//             padding: 0;
//           }

//           &[aria-selected] {
//             cursor: pointer;
//             padding: 7px 35px;
//             display: flex;
//             align-items: center;
//             -webkit-transition: 0.2s;
//             -o-transition: 0.2s;
//             transition: 0.2s;

//             &::before {
//               content: "";
//               width: 4px;
//               height: 4px;
//               margin: 0 10px;
//               background-color: #000;
//               display: block;
//               -webkit-transition: 0.12s 0.5s;
//               -o-transition: 0.12s 0.5s;
//               transition: 0.12s 0.5s;
//             }
//           }
//         }

//         > .select2-results__options {
//           max-height: 350px;
//           overflow-y: auto;
//           list-style: none;
//           margin: 0;
//           padding: 0 0 25px 0;
//         }

//         li {
//           color: #000;
//         }
//       }

//       .select2-dropdown {
//         padding: 0;
//         display: block;
//         background-color: white;
//         border: 1px solid #c7c7c7;
//         /* border-top-left-radius: 0; */
//         /* border-top-right-radius: 0; */
//         /* border-bottom-right-radius: 2px; */
//         /* border-bottom-left-radius: 2px; */
//         -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.15);
//         box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.15);
//         position: absolute;
//         left: 0;
//         z-index: 790;
//       }
//     }
//   }

//   .select2-results__option--highlighted {
//     font-size: 18px;
//     padding: 15px 35px !important;
//     background-color: #c7c7c7 !important;
//     border-radius: 0;
//     color: #000 !important;
//   }
// }

.c-datepicker-picker {
  -webkit-transform: translate(0px, -450px);
  -ms-transform: translate(0px, -450px);
  transform: translate(0px, -450px);
}
