.fantasy_index {
  height: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px 0;
  .main_title,
  .main_content,
  .main_footer {
    width: 90%;
    max-width: 1600px;
  }
  .main_title {
    font-size: 7vw;
    font-weight: 600;
    line-height: 1;
    color: #000;
  }
  .main_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0 100px;

    .content_left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 82px;

      .cms_sitename {
        display: flex;
        align-items: center;
        gap: 0 10px;
        color: #000;
        span {
          font-size: 4rem;
          font-weight: 600;
          line-height: 1;
        }
        p {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1;
        }
      }
      .cms_language {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
      }
    }
    .content_right {
      width: 330px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
      a {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1;
        color: #000;
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
  .main_footer {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .cms_language,
  .site_language {
    a {
      font-size: 1.4rem;
      color: #000;
      background-color: #f5f5f5;
      min-width: 250px;
      padding: 12px 40px 12px 20px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      &::before {
        content: "\f105";
        font-size: 1rem;
        font-family: FontAwesome;
        text-shadow: none;
        margin: 0;
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
        transition: 0.12s ease;
        transform-origin: center;
      }
      span {
        font-weight: 800;
      }
      p {
        font-weight: 400;
      }
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
}
