/*
  fmsAjax
  cms 中段落編輯選擇圖片時跳出 fms 燈箱
*/

.fmsAjaxArea {
  z-index: -1;

  &.open {
    z-index: 11;
  }
  // &::before {
  //   background-color: #170b38c7;
  // }

  .ajaxItem {
    width: 90%;
    max-width: 1440px;
    .ajaxContainer {
      height: auto;

      .detailEditor {
        // display: flex;
        // flex-direction: column;
        .ajax_fms {
          width: 100%;
          padding: 0;
          height: 100vh;

          .hiddenArea_frame_box {
            .editorHeader {
              .info {
                max-width: none;
              }
            }
          }

          .table_mode {
            opacity: 0;
            height: 0;
            visibility: hidden;

            &.open {
              opacity: 1;
              height: auto;
              visibility: visible;
              transition: all 0.5s ease 0s;
            }
          }

          .main-table {
            .box {
              &.icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
              }
            }
          }

          .table-box {
            .content-head {
              // padding: 0px 50px 30px 50px;

              .subtitle {
                margin-top: 50px;
              }
            }
          }

          .light_box_img {
            background-color: rgba(0, 0, 0, 0.6);
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;

            .for_scroll {
              width: 100%;
              height: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              overflow-y: scroll;
            }

            .inner_box {
              width: 40vw;
              height: 100%;
              position: relative;
            }

            .close_btn {
              cursor: pointer;
              color: #fff;
              background-color: #775bc2;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              position: absolute;
              right: 15px;
              top: 15px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
            }

            .img {
              margin: 50px 0;
              position: relative;
            }

            img {
              max-width: 100%;
            }

            &.open {
              z-index: 11;
              visibility: visible;
              opacity: 1;
              -webkit-transition: opacity 0.5s ease 0s;
              -moz-transition: opacity 0.5s ease 0s;
              -ms-transition: opacity 0.5s ease 0s;
              -o-transition: opacity 0.5s ease 0s;
              transition: opacity 0.5s ease 0s;
            }

            &.close {
              -webkit-transform: translateY(100%);
              -ms-transform: translateY(100%);
              transform: translateY(100%);
              -webkit-transition: all 0.5s ease 0s;
              -moz-transition: all 0.5s ease 0s;
              -ms-transition: all 0.5s ease 0s;
              -o-transition: all 0.5s ease 0s;
              transition: all 0.5s ease 0s;
            }
          }

          .content-sidebar {
            .sidebar-menu {
              .body-list {
                li {
                  position: relative;

                  .content {
                    border-bottom: none;
                  }

                  .i_open {
                    display: none;
                  }

                  &.open {
                    > a {
                      .i_open {
                        display: block;
                      }

                      .i_close {
                        display: none;
                      }
                    }
                  }
                }

                .level-1,
                .level-2 {
                  &.open {
                    > a {
                      .icon {
                        color: #775bc2 !important;
                      }
                    }
                  }

                  &.open2 {
                    > a {
                      .icon {
                        color: #775bc2 !important;
                      }
                    }
                  }
                }

                a {
                  position: relative;
                  overflow: visible !important;
                }
              }

              .head-bar {
                .line {
                  background-color: #775bc2;
                }
              }
            }
          }

          .sidebar-menu {
            .body-list {
              > li {
                > ul {
                  &.sub-menu {
                    li {
                      > a {
                        > .arrow {
                          &::before,
                          &.open::before {
                            margin: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .grid_mode {
            height: calc(100% - 100px);

            .list {
              width: calc(20% - 20px);

              &:nth-child(5n) {
                margin-right: 20px;
              }
            }
          }
        }

        .editorBody {
          // padding: 0;

          .page-container {
            // padding: 0;

            .header {
              display: none !important;
            }

            .mainContent {
              height: calc(100vh - 40px) !important;
              min-height: auto !important;

              .content {
                // height: 100% !important;

                .content-sidebar {
                  // margin-top: 60px;

                  .sidebar-menu {
                    .head-bar {
                      // top: 0;
                    }

                    .body-list {
                      height: calc(100vh - 83px);
                      .fms_controls {
                        padding: 0 20px;
                        & > * {
                          padding: 6px 0;
                          font-size: 1.2rem;
                          gap: 0 5px;
                          cursor: pointer;
                        }
                        .fms-folder-add {
                          width: 15px;
                          height: 12px;
                          &::before {
                            font-size: 1.1rem;
                          }
                        }
                      }

                      &.scroll-wrapper {
                        > .scroll-element {
                          &.scroll-y.scroll-scrolly_visible {
                            opacity: 1 !important;
                          }
                        }
                      }
                    }
                  }
                }

                .inner-content {
                  // height: 100vh;
                  // height: calc(92vh - 110px);
                  // min-height: auto;
                  // margin-top: 60px;

                  // .jumbotron {
                  //   width: calc(100% - 300px);

                  //   .inner-right {
                  //     display: block;

                  //     .close_btn {
                  //       color: #000;
                  //     }
                  //   }
                  // }

                  .content-scrollbox {
                    // height: 100%;

                    .content-head {
                      // width: calc(100% - 412px);
                    }

                    // .content-body {
                    //   padding: 130px 0 0 0;
                    // }
                  }
                }

                .datatable {
                  .fake-thead {
                    width: calc(100% - 412px);
                  }
                }
              }
            }
          }
        }

        .hiddenArea_frame_controlBtn {
          width: 100%;
          position: sticky;
          background-color: rgba(255, 255, 255, 0.6);
          display: flex;
          align-items: center;
          > * {
            height: 40px;
          }

          .btnGroup {
            .check {
              background-color: #000;
            }
          }

          .list {
            font-size: 1.2rem;
            flex: 1;
            cursor: pointer;
            color: #fff;
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 8px;
            opacity: 1;
            transition: all 0.7s ease 0.6s;
          }

          .number {
            color: #fff;
            margin: 0 5px;
          }

          .selected {
            background-color: #686868;
            p {
              margin-left: 5px;
            }
          }

          .setting {
            background-color: #000;
          }

          .close_ajax_btn {
            background-color: #c5c5c5;
          }
        }
      }
    }
  }
}

.fmsDetail_edit {
  .upload_frame_info {
    .center_box {
      margin: 15px 0;
      text-align: center;
      font-size: 3rem;
    }
  }
}

.fmsDetailAjaxArea {
  z-index: 14 !important;

  .ajaxItem {
    width: 90%;
    max-width: 750px;

    .ajaxContainer {
      .detailEditor {
        .editorContent {
          margin-top: 0;
          margin-bottom: 50px;

          .box_block_frame {
            .inventory {
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              padding: 20px 0 20px 0;

              &.fileInformation {
                display: flex;
                flex-direction: column;
                // border-bottom: 5px solid #775ac2;

                .file_frame {
                  background-color: #3d4042;
                  width: 100%;
                  height: 350px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;

                  .file_frame_info {
                    .img_box {
                      width: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      img {
                        width: auto;
                        max-width: 520px;
                        max-height: 240px;

                        &.auto {
                          width: 200px !important;
                          height: 200px !important;
                        }

                        &.w-auto {
                          width: auto !important;
                          height: 200px !important;
                        }

                        &.h-auto {
                          height: auto !important;
                        }
                      }
                    }

                    .info_box {
                      color: #fff;
                      text-align: center;
                      margin-top: 20px;
                    }
                  }

                  .toolBtn {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;

                    .icon {
                      cursor: pointer;
                      width: 33px;
                      height: 33px;
                      margin-bottom: 1px;
                      background-color: #fff;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
              }

              > .title {
                padding-top: 0;
              }
            }
          }
        }
      }

      // .hiddenArea_frame_controlBtn {
      //   width: calc(100% - 160px);

      //   .btnGroup {
      //     .check {
      //       background-color: #775bc2;
      //     }
      //   }
      // }

      &.fmsDetail {
        .detailEditor {
          .editorBody {
            .editorContent {
              .box_block_frame {
                .inventory {
                  padding: 20px 0;

                  &.fileInformation {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                  }

                  .title {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }

      &.fmsDetail_edit {
        .editorContent {
          .inventory {
            flex-direction: column !important;
            align-items: flex-start !important;
          }
        }
      }

      &.fmsFolder_add {
        .editorContent {
          .inventory {
            flex-direction: column !important;
            align-items: flex-start !important;
          }
        }
      }

      &.fmsFolder_edit {
        .editorContent {
          .inventory {
            flex-direction: column !important;
            align-items: flex-start !important;
          }
        }
      }

      &.fmsUpload,
      &.fmsUpload_done,
      &.fmsUpload_ing {
        .editorContent {
          .inventory {
            flex-direction: column !important;
            align-items: flex-start !important;

            .subtitle {
              position: relative;

              .en_title {
                font-size: 1.125rem;
                padding-right: 10px;
              }

              .icon {
                margin-right: 5px;
              }
            }

            .upload_icon {
              color: #fff;
              cursor: pointer;
              background-color: #775bc2;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              right: 0;
              top: -20px;
            }

            .list_tool {
              text-align: right;

              .icon {
                cursor: pointer;
                margin-left: 8px;

                &:first-child {
                  margin-left: 0;
                }
              }
            }

            .list {
              &.upload_ok {
                background-color: #775bc2;
                color: #fff;
                border: solid 1px #775bc2;
                border-top: solid 1px #c7c7c7;

                &:first-child {
                  border-top: #775bc2;
                }
              }
            }

            .upload_frame_info {
              .center_box {
                margin: 15px 0;
                text-align: center;

                span {
                  font-size: 3rem;
                }

                .tick {
                  font-size: 1.5rem;
                  width: 36px;
                  height: 36px;
                  margin: 0 auto;
                  border: solid 4px #000;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }

              .info_box {
                text-align: center;
                color: #464646;

                .en {
                  color: #000;
                  font-size: 1.125rem;
                  font-weight: 900;
                }
              }
            }

            &.uploading {
              .info_box {
                color: #fff;
              }
            }
          }
        }
      }

      &.fmsUpload,
      &.fmsUpload_done,
      &.fmsDetail_edit,
      &.fmsUpload_ing {
        .editorContent {
          .inventory {
            .upload_list {
              width: 100%;

              .list {
                box-sizing: border-box;
                border: solid 1px #c7c7c7;
                border-top: none;
                padding: 14px 25px;
                max-height: 70px;
                display: flex;
                align-items: center;
                position: relative;

                .option {
                  position: relative;

                  &::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 20px;
                    background-color: #c7c7c7;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                  }

                  &:last-child {
                    &::after {
                      display: none;
                    }
                  }
                }

                &:first-child {
                  border-top: solid 1px #c7c7c7;

                  &:hover {
                    border-top: solid 1px #ff0000;
                  }
                }

                &:hover {
                  border: solid 1px #ff0000;

                  .list_capacity {
                    p {
                      color: #ff0000;
                    }
                  }
                }
              }

              .list_img {
                width: 42px;
                height: 40px;
                margin-right: 16px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  max-width: 42px;
                  max-height: 42px;
                }
              }

              .list_title {
                width: 100%;
                display: flex;
                align-items: center;

                p {
                  margin-right: 12px;
                }
              }

              .list_capacity {
                width: 120px;
                text-align: center;
              }

              .list_tool {
                width: 40px;
                display: flex;
                justify-content: flex-end;

                .icon {
                  cursor: pointer;
                }

                span {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      &.fmsUpload {
        .inventory.upload_list {
          display: none;
          &:has(.list) {
            display: flex;
          }
        }
      }
    }
  }
}

.fmsDetailAjaxArea
  .ajaxItem
  .ajaxContainer.fmsUpload
  .editorContent
  .inventory
  .radio_area
  .content,
.amsDetailAjaxArea .radio_area .content,
.fmsDetail_edit .radio_area .content,
.fmsFolder_add .radio_area .content {
  display: flex;
}

.fmsFolder_add {
  .detailEditor {
    .editorBody {
    }
  }
  .hiddenArea_frame_controlBtn {
  }
}
