/* 內容區 sidebar */

.mainBody {
  .mainContent {
    &.content-sidebar-open {
      .content {
        .content-sidebar {
          width: 300px;
        }
        .inner-content {
          width: 100%;
        }
      }
    }

    &:not(.content-sidebar-open) {
      .content-wrap {
        .content-head {
          width: calc(100% - 172px);
        }
      }

      .datatable {
        .tables {
          .fake-thead {
            width: calc(100% - 172px);
          }
        }
      }
    }

    .content {
      .content-sidebar {
        background-color: #424242;
        position: relative;
        left: 0;
        top: 0;
        z-index: 0;
        width: 0;
        margin-top: 60px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        overflow: hidden;
        flex-shrink: 0;

        .scroll-wrapper {
          > .scroll-content {
            -webkit-box-sizing: inherit !important;
            box-sizing: inherit !important;
          }
        }

        .sidebar-menu {
          height: 100%;
          position: relative;
          width: 100%;
          padding-bottom: 30px;

          .head-bar {
            width: 300px;
            list-style: none;
            height: auto !important;
            padding-bottom: 0;
            background-color: #000;
            overflow: visible;
            position: fixed;
            top: 60px;
            z-index: 12;
            -webkit-box-shadow: 0 3px 6px rgba(15, 15, 15, 0.5);
            box-shadow: 0 3px 6px rgba(15, 15, 15, 0.5);
            transition: width 0.5s;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              left: 30px;
              bottom: -10px;
              border-style: solid;
              border-width: 10px 8.5px 0 8.5px;
              border-color: #000 transparent transparent transparent;
            }
            > li {
              display: block;
              padding: 0;
              clear: right;
            }
            .icon {
              font-family: var(--baseFont);
              font-weight: bold;
              width: 16px;
              text-align: center;
              display: block;
            }
            .iconSquare {
              content: "";
              width: 5px;
              min-width: 5px;
              height: 5px;
              min-height: 5px;
              background-color: #fff;
              display: block;
            }
            .arrow {
              width: 12px;
              height: 12px;
              text-align: center;
              float: right;
              padding-right: 0;
              margin-bottom: 3px;
              position: relative;
              opacity: 0.5;
              &::before {
                content: "\f105";
                font-size: 16px;
                font-weight: 300;
                font-family: FontAwesome;
                text-shadow: none;
                text-shadow: none;
                display: block;
                margin: 0;
                position: absolute;
                top: -1px;
                left: calc(50% - 2px);
                -webkit-transition: 0.2s ease;
                -o-transition: 0.2s ease;
                transition: 0.2s ease;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
              }
            }

            &.open,
            &.active {
              > a {
                .content {
                  .icon {
                    color: #fff;
                  }
                }
                .title {
                  color: #fff;
                }
              }
            }

            .title {
              width: 100%;
              font-family: var(--baseFont);
              font-size: 13px;
              font-weight: normal;
              white-space: nowrap;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
              padding-right: 25px;
            }

            &.tool {
              padding: 0 28px 10px 28px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;

              .tool-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                a {
                  padding: 0 5px;
                  min-width: 25px;
                }
              }
            }

            .sub-menu {
              margin: 0 0 20px 0;
              display: none;
              li {
                a {
                  font-size: 13px;
                  line-height: 1.2;
                  white-space: normal;
                  padding: 5px 0;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  &.title-box {
                    padding: 8px 0;
                  }
                }
              }
            }

            .level-1 {
              padding: 0 28px;
              min-height: 50px;
              font-size: 14px;
              > a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100%;
                min-height: 50px;
                .title {
                  font-family: var(--baseFont);
                  font-size: 13px;
                  font-weight: normal;
                }
                .icon-open-menu {
                  width: 40px;
                  text-align: center;
                  font-size: 21px;
                  position: absolute;
                  right: 20px;
                  left: auto;
                  -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                  transform-origin: center;
                  -webkit-transition: 0.5s;
                  -o-transition: 0.5s;
                  transition: 0.5s;
                }
                .sub-menu {
                  background-color: transparent !important;
                  padding: 0px 0 25px 0;
                  margin: 0;
                }
              }
              &.open,
              &.active {
                .icon-open-menu {
                  -webkit-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
              }
            }

            .level-2 {
              margin: 0;
              padding: 0;
              &.open {
                > a {
                  .arrow {
                    color: #000;
                    &::before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                    }
                    &.open {
                      color: #000;
                      opacity: 1;
                      &::before {
                        -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                      }
                    }
                  }
                  .title {
                    color: #fff;
                  }
                }
              }
              > a {
                padding: 8px 0;
                ._on,
                ._off {
                  font-size: 20px;
                  color: #000;
                  margin-right: 10px;
                  -webkit-transition: 0.5s;
                  -o-transition: 0.5s;
                  transition: 0.5s;
                }
                ._off {
                  opacity: 0.5;
                  -webkit-transform: rotate(180deg);
                  -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
                }
              }
              .sub-menu {
                padding: 10px 0 15px 0;
                margin: 0;
              }
              &.active {
                > a {
                  ._on {
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  ._off {
                    opacity: 1;
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                }
              }
              &:hover {
                ._on,
                ._off,
                .arrow {
                  opacity: 1;
                }
              }
            }

            .level-3 {
              padding: 3px 10px 3px 36px;
              color: white;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
              .title {
                margin-left: 10px;
              }
              &:hover,
              &._on {
                background-color: rgba(0, 0, 0, 0.5);
              }
            }
          }

          .body-list {
            padding: 41px 28px 80px 28px;
            height: calc(100vh - 110px);
            .level_list {
              display: block;
              padding: 0;
              clear: right;
              position: relative;
              &.hr {
                border-bottom: 1px solid;
                padding-bottom: 15px;
                margin-bottom: 15px;
              }
              a {
                font-size: 13px;
                font-weight: normal;
                color: #fff;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                padding: 10px 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                clear: both;
                overflow: hidden;
              }
              .icon {
                font-family: var(--baseFont);
                font-weight: bold;
                width: 16px;
                text-align: center;
                display: block;
              }
              .iconSquare {
                content: "";
                width: 5px;
                min-width: 5px;
                height: 5px;
                min-height: 5px;
                background-color: #bfbfbf;
                display: block;
              }
              .title {
                line-height: 1.5;
                width: 100%;
                color: #bfbfbf;
                float: left;
                margin-left: 10px;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
              }
              .arrow {
                width: 12px;
                height: 12px;
                padding-right: 0;
                margin-bottom: 3px;
                float: right;
                position: relative;
                opacity: 0.3;
                &::before {
                  content: "\f105";
                  font-size: 16px;
                  font-family: FontAwesome;
                  text-shadow: none;
                  margin: 0;
                  display: block;
                  position: absolute;
                  top: -1px;
                  left: calc(50% - 2px);
                  -webkit-transition: 0.12s ease;
                  -o-transition: 0.12s ease;
                  transition: 0.12s ease;
                  -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                  transform-origin: center;
                }
              }
              .tip {
                width: 30px;
                height: 20px;
                margin-bottom: 0px;
                float: right;
                position: relative;
                opacity: 1;
                background-color: #4e4e4e;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 5px;
                margin-right: 10px;
              }
              &.open,
              &.active {
                > a {
                  .content {
                    .icon {
                      color: #fff;
                    }
                  }
                  .title {
                    color: #fff;
                  }
                }
              }
            }

            .level-1 {
              &.open,
              &.active {
                > a {
                  .icon {
                    color: #fff;
                  }
                  .arrow {
                    opacity: 1;
                    &::before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                      color: #fff;
                    }
                  }
                  .iconSquare {
                    background-color: #fff;
                  }
                }
              }
              &:last-child {
                > .sub-menu {
                  &::after {
                    display: none;
                  }
                  .level-2 {
                    &:last-child {
                      &::after {
                        height: 16px;
                      }
                    }
                  }
                }
              }
              > a {
                .icon {
                  font-family: var(--baseFont);
                  font-weight: bold;
                  width: 16px;
                  text-align: center;
                  display: block;
                }
                &:hover {
                  .icon {
                    color: #fff;
                  }
                  .title {
                    color: #fff;
                  }
                  .arrow {
                    opacity: 1;
                  }
                }
              }
              > .sub-menu {
                background-color: transparent;
                display: none;
                list-style: none;
                clear: both;
                padding: 5px 0 5px 26px;
                &::before {
                  content: "";
                  border-left: 1px dashed #6c6c6c;
                  width: 1px;
                  height: 13px;
                  position: absolute;
                  left: 6px;
                  top: 29px;
                  background-color: transparent;
                }
                &::after {
                  content: "";
                  border-left: 1px dashed #6c6c6c;
                  width: 1px;
                  height: 12px;
                  position: absolute;
                  left: 6px;
                  bottom: -9px;
                  background-color: transparent;
                }
              }
            }

            .level-2 {
              padding: 6px 0;
              &.open,
              &.active {
                > a {
                  .arrow {
                    opacity: 1;
                    &::before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                      color: #fff;
                    }
                  }
                  .iconSquare {
                    background-color: #fff;
                  }
                }
              }
              > a {
                padding: 0 0 0 0;
                .title {
                  color: #bfbfbf;
                }
                &:hover {
                  .iconSquare {
                    color: #fff;
                  }
                  .title {
                    color: #fff;
                  }
                  .arrow {
                    opacity: 1;
                  }
                }
              }
              > .sub-menu {
                display: none;
                list-style: none;
                clear: both;
                padding: 5px 0 5px 5px;
                &::before {
                  content: "";
                  border-left: 1px dashed #6c6c6c;
                  width: 1px;
                  height: 14px;
                  position: absolute;
                  left: 5px;
                  top: 19px;
                  background-color: transparent;
                }
              }
              &::before {
                content: "";
                display: inline-block;
                border-top: 1px dashed #6c6c6c;
                width: 20px;
                height: 1px;
                position: absolute;
                left: -18px;
                top: 15px;
                background-color: transparent;
              }
              &::after {
                content: "";
                border-left: 1px dashed #6c6c6c;
                width: 1px;
                height: 100%;
                position: absolute;
                left: -20px;
                top: 0;
                background-color: transparent;
              }
            }

            .level-3 {
              padding: 6px 0 5px 22px;
              &.open,
              &.active {
                > a {
                  .arrow {
                    opacity: 1;
                    &::before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                      color: #fff;
                    }
                  }
                  .iconSquare {
                    background-color: #fff;
                  }
                }
                > .sub-menu {
                  .level-4 {
                    &.active {
                      .iconSquare {
                        background-color: #10cfbd;
                      }
                    }
                  }
                }
              }
              > a {
                padding: 0 0 0 3px;
                .title {
                  color: #bfbfbf;
                }
                .arrow {
                  &.open {
                    opacity: 1;
                    &::before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                    }
                  }
                }
                &:hover {
                  .iconSquare {
                    color: #fff;
                  }
                  .title {
                    color: #fff;
                  }
                  .arrow {
                    opacity: 1;
                  }
                }
              }
              > .sub-menu {
                display: none;
                list-style: none;
                clear: both;
                padding: 5px 0 5px 5px;
              }
              &::before {
                content: "";
                border-top: 1px dashed #6c6c6c;
                width: 20px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 16px;
                display: block;
                background-color: transparent;
              }
              &::after {
                content: "";
                border-left: 1px dashed #6c6c6c;
                width: 1px;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0;
                background-color: transparent;
              }
              &:last-child {
                &::after {
                  content: "";
                  height: 16px;
                }
                &::before {
                  left: 0;
                  top: 15px;
                }
              }
            }

            .level-4 {
              padding: 6px 0 5px 22px;
              &.open,
              &.active {
                > a {
                  .arrow {
                    opacity: 1;
                    &::before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                      color: #fff;
                    }
                  }
                  .iconSquare {
                    background-color: #fff;
                  }
                }
              }
              > a {
                padding: 0;
                &:hover {
                  .title {
                    color: #fff;
                  }
                }
              }
              &::before {
                content: "";
                border-top: 1px dashed #6c6c6c;
                width: 20px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                background-color: transparent;
              }
              &::after {
                content: "";
                border-left: 1px dashed #6c6c6c;
                width: 1px;
                height: 100%;
                position: absolute;
                left: 0px;
                top: -12px;
                background-color: transparent;
              }
              &:last-child {
                &::after {
                  content: "";
                  left: 0px;
                  top: -17px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.fms_theme {
  .content {
    .content-sidebar {
      .sidebar-menu {
        .body-list {
          .level-1 {
            &::before {
              content: "";
              border-left: 1px dashed #6c6c6c;
              width: 1px;
              height: 13px;
              position: absolute;
              left: 8px;
              top: -5px;
              background-color: transparent;
            }
            &:first-child {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.full-height {
  height: 100% !important;
}


