/*
  右側展開設定
*/

.ajaxContainer {
  width: 100%;
  opacity: 0;
  display: none;

  &.active {
    display: block;
  }

  &.open {
    opacity: 1;
    display: block;
    transition: all 0.5s ease 0s;
  }

  &.remove {
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
}

.detailEditor {
  width: 100% !important;
  color: #000;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .tips {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .title {
      font-size: 1rem;
    }
    p {
      font-size: 1.2rem;
      color: #555555;
    }
  }

  .editorBody {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;

    .editorHeader {
      // width: calc(100% - 460px);
      width: 100%;
      height: 79px;
      padding: 25px 45px;
      background-color: #fff;
      // border-bottom: solid 1px #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      // position: fixed
      position: sticky;
      top: 0;
      // z-index: 106;
      z-index: 10;

      .info {
        // position: relative;
        // min-height: 88px;
        display: flex;
        flex-direction: column;

        .title {
          display: none;
          position: relative;
        }

        .dataEditTitle {
          font-size: 1.6rem;
          line-height: 1.35;
          display: flex;
          align-items: center;
          overflow: hidden;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          line-clamp: 2;
          max-height: 55px;
          user-select: none;
          // margin: auto 0;
        }
      }

      .control {
        // margin: 54px 0 0 50px;
        display: flex;
        align-items: flex-start;

        .btnGroup {
          display: flex;
          align-items: center;

          // .close_btn {
          //   cursor: pointer;
          // }

          // .check {
          //   span::after {
          //     content: "Setting";
          //   }
          // }

          // .trash {
          //   span::after {
          //     content: "Delete";
          //   }
          // }

          // .file {
          //   background-color: #c5c5c5;
          // }

          // .remove {
          //   span::after {
          //     content: "Cancel";
          //   }
          // }

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            // width: 30px;
            // height: 30px;
            // border-radius: 50%;
            padding: 0;
            // margin-right: 6px;
            // position: relative;

            // &:last-child {
            //   margin-right: 0;
            // }
            &::after {
              content: "|";
              color: #d1d1d1;
              padding: 0 13px;
              font-size: 1rem;
              line-height: 1;
              margin-top: 1px;
            }
            &:last-child {
              &::after {
                content: "";
                padding: 0;
              }
            }

            a {
              display: block;
              &:not(.btn) {
                opacity: 1;
              }
            }

            .label {
              font-size: 1.3rem;
              font-family: "inter";
              font-weight: 600;
              content: "Cancel";
              padding-left: 5px;
              color: #000;
            }
          }
        }
      }

      p {
        margin: 0;
      }

      .title {
        &::after {
          content: "";
          width: 100%;
          height: 4px;
          max-width: 135px;
          margin-top: 7px;
          background-color: #10cfbd;
          display: block;
        }
      }

      .area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        .control {
          margin: 16px 0 0 auto;
        }
      }
    }

    .editorContent {
      width: 100%;
      // height: 100%;
      padding: 0 45px 25px 45px;
      flex: 1;

      &.scroll-wrapper {
        > .scroll-element.scroll-x {
          display: none;
        }

        > .scroll-element.scroll-y {
          visibility: hidden;
        }
      }
    }

    .scroll-element {
      opacity: 0 !important;
    }
  }

  .editorNav {
    width: 250px;
    height: 100vh;
    background-color: #f5f5f5;
    border-right: solid 0;
    overflow: hidden;
    position: relative;
    overflow-y: auto;

    .control {
      width: 100%;
      height: 80px;
      background-color: #f5f5f5;
      padding: 25px 45px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: sticky;
      top: 0;
      z-index: 2;

      .sub_title {
        font-family: "inter";
        font-size: 2rem;
        font-weight: 600;
        color: #000;
        width: 100%;
        line-height: 1.2;
        // padding: 5px 10px;
        // border-top: 1px solid #000;
        // border-bottom: 1px solid #000;
      }

      .btnGroup {
        display: none;
        // display: flex;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // align-items: center;
        // margin-bottom: 24px;
        // min-height: 40px;

        .check {
          background-color: #10cfbd;
        }

        .trash {
          background-color: #424242;
        }

        .file {
          background-color: #c5c5c5;
        }

        .remove {
          border: solid 1px #414141;

          span {
            color: #414141;
          }
        }

        li {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 0;
          margin-right: 6px;
          position: relative;

          &:last-child {
            margin-right: 0;
          }

          a {
            width: 100%;
            height: 100%;
            display: block;

            &:not(.btn) {
              opacity: 1;
            }
          }

          span {
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        .close_btn {
          cursor: pointer;
          padding: 10px;
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
    }

    ul {
      &.navGroup {
        padding: 0 45px 40px 45px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        li {
          width: fit-content;
          transition: all 0.5s ease 0s;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #000;
            transition: 0.3s;
          }

          p {
            font-size: 1.3rem;
            font-weight: 600;
            color: #000;
            padding-block: 2px;
            transition: all 0.5s ease 0s;
          }

          &.active {
            &::before {
              width: 100%;
            }
            // p {
            //   padding-inline: 15px;
            //   color: #fff;
            //   background-color: #424242;
            // }
          }
        }
      }
    }
  }

  // 2025.07.23 新增表格樣式
  .table-editor {
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;

    .bk_spreadsheet_header_style {
      background-color: #f4f4f4 !important;
    }

    .button-group {
      display: flex;
      align-items: stretch;
      gap: 2px;

      button {
        margin: 0;
        padding: 8px 12px;
        border-radius: 3px;
        border: 1px solid #e2e2e2;
        cursor: pointer;
        transition: background 0.25s ease;
        background: #fff;

        &:hover {
          border: 1px solid #000;
        }

        &.bkSpreadsheetNewCol,
        &.bkSpreadsheetNewRow {
          flex: 1;
        }
      }
    }

    .jss_spreadsheet {
      display: flex;
      flex-direction: column;
      // max-height: calc(100% - 75px);
      background: #f9f9f9;
    }

    .jss_container {
      // height: fit-content;
      background-color: #f9f9f9;
      padding: 0;
    }
    .jss_content {
      height: fit-content;
      border: 1px solid #ccc;
      max-height: 400px;
      padding: 0;
    }
    .jss_worksheet {
      border: none;
      border-right: 1px solid #ccc;
      & > thead > tr > td {
        border-top: none;
        &:first-child {
          border-left: none;
        }
      }
      & tr > td {
        &:first-child {
          border-left: none;
        }
      }
    }

    &.fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background: rgb(255, 255, 255);
      width: 100vw;
      height: 100vh;

      .jss_container {
        height: calc(100vh - 48px);
      }
    }
  }
}

.hiddenArea,
.cmsAjaxArea {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // position: relative;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  display: none;

  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.active {
    display: block;
    opacity: 0;
  }

  &.open {
    display: block;
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  &.open_fast {
    display: block;
    opacity: 1;
    transition: all 0s ease 0s !important;
  }

  &.remove {
    opacity: 0 !important;
    transition: all 0.5s ease 0s;
  }

  .ajaxItem {
    width: 80%;
    max-width: 1280px;
    /* min-width: 1300px; */
    height: 100vh;
    padding: 0;
    // margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    display: none;
    position: relative;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 50%);

    &.active {
      display: block;
    }

    &.open {
      display: block;
      opacity: 1;
      transform: translate(-50%, 0%);
      // -webkit-transform: translateX(0);
      // -ms-transform: translateX(0);
      // transform: translateX(0);
    }

    &.open_fast {
      // display: block;
      // transition: all 0.5s ease 0.3s;
      // transform: translate(-50%, 0);
      // -webkit-transform: translateX(0);
      // -ms-transform: translateX(0);
      // transform: translateX(0);
    }

    &.remove {
      opacity: 0;
      transition: all 0.5s ease 0s;
      transform: translate(-50%, 50%);
      // -webkit-transform: translateX(100%);
      // -ms-transform: translateX(100%);
      // transform: translateX(100%);
    }

    .hiddenArea_frame_controlBtn {
      width: 100%;
      position: sticky;
      left: 80px;
      right: auto;
      bottom: 0;
      // z-index: 101;
      z-index: 3;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

      ul {
        height: 100%;
        margin: 0;
        display: flex;

        .check {
          background-color: #242424;
        }

        .trash {
          background-color: #d83751;
        }

        .file {
          background-color: #c5c5c5;
        }

        .remove {
          border: solid 1px #414141;

          span {
            color: #414141;
          }
        }

        li {
          font-size: 1.2rem;
          font-family: "inter";
          width: 100%;
          height: 45px;
          border-radius: 0;
          list-style-type: none;
          padding: 0;
          margin: 0;

          p,
          span {
            color: #fff;
          }

          span {
            margin-right: 8px;
          }
        }

        a {
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin: 0;
          }

          span {
            margin: 0 8px 0 0;
            position: static;
            display: block;
          }
        }
      }

      .btnGroup {
        .remove {
          background-color: #c5c5c5;
          border: none;

          span {
            color: #fff;
          }
        }
      }
    }
  }
}

/* fms 點擊上傳檔案後開啟右側區塊 */
.uploadArea {
  &.open {
    z-index: 13;
    opacity: 1;
    position: absolute;
    background-color: #00000073;
  }
}

/* 未知區塊 搜尋不到 */
.infoArea.open {
  z-index: 13;
  opacity: 1;
}

/* 未知區塊 搜尋不到 */
.main_container {
  height: 100%;
  overflow: hidden;
}

.main_container_frame {
  background-color: inherit;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  position: relative;

  .ajaxItem {
    width: 100%;
    max-width: none;
    height: calc(100% - 50px);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    overflow: hidden;
    padding: 25px 50px 25px 50px;

    .editorHeader {
      .control {
        margin-top: 0;
      }
    }
  }

  .hiddenArea_frame_controlBtn {
    position: relative;
  }
}

/* 未知區塊 搜尋不到 */
.____summernote .note-editor.note-frame {
  border: solid 1px #c7c7c7;
}

/* 在 ams 權限管理設定中有找到對應結構 但是被 display: none 不確定有沒有用到 */
.state_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  li {
    width: 100%;
    max-width: 165px;
  }
}

/* 未知日期選單 */
.datepicker-input,
.timepicker-input {
  max-width: 200px;
}

.file-picker {
  & > input:first-child {
    color: #000;
    width: 100%;
    padding: 8px 12px;
    border-radius: 3px;
    border: solid 1px transparent;
    background-color: #f5f5f5;
    &:focus {
      border: solid 1px #10cfbd;
    }
  }
}

.datepicker-range {
  max-width: 510px;
  border: solid 1px #c7c7c7;
  input {
    border: none;
  }

  .input-group-addon {
    background-color: #c7c7c7;
    color: #000;
    min-width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* fms 編輯資料夾 時間文字 */
.file_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .name {
    font-weight: 900;
    margin-right: 3px;
  }
}

/* cms 顏色選擇 */
.color_picker {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .ticket_field {
    border: solid 1px #c7c7c7;
    border-left: none;
    padding: 4px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      line-height: 1;
    }
  }
}

.color_picker_btn {
  display: flex;
  align-items: center;

  a {
    padding: 10px;
    cursor: pointer;

    &.active {
      display: block;
    }
  }

  span {
    padding-right: 3px;
  }
}

.color_picker_del {
  position: absolute;
  top: -10px;
  right: -8px;
  background-color: #b3b3b3;
  color: #ffffff !important;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp-replacer {
  border: solid 1px #c7c7c7;
  background-color: #fff;
  width: 100%;
  max-width: 220px;

  &:hover,
  &.sp-active {
    border: solid 1px #c7c7c7;
  }
}

.sp-preview {
  width: 90%;
}

.sp-dd {
  color: #888888;
}

.sp-color,
.sp-hue,
.sp-clear,
.sp-alpha-inner,
.sp-initial {
  border: none;
}

.sp-input,
.sp-input:focus {
  border: solid 1px #c7c7c7;
}

.sp-container {
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  border: solid 1px #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .btn_group {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;

    .click_btn {
      cursor: pointer;
      color: #fff;
      width: 100%;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      span {
        margin-right: 8px;
      }
    }

    .save {
      background-color: #10cfbd;
    }

    .cancel {
      background-color: #424242;
    }
  }

  .title {
    font-size: 0.75rem;
    font-weight: 900;
    color: #000;
    margin-bottom: 10px;
  }

  &::after {
    display: none !important;
    content: "";
    width: 1px;
    height: 70%;
    background-color: #c7c7c7;
    position: absolute;
    left: 50%;
    top: calc(50% - 25px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.sp-palette {
  .sp-thumb-el {
    border: solid 0px #d0d0d0;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 3px 2px;
  }

  .sp-thumb-inner {
    border-radius: 5px;
  }
}

.sp-picker-container {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sp-palette-container {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

.sp-picker-container,
.sp-palette-container {
  float: none;
  padding-bottom: 0;
  padding: 20px;
  margin: 0;
}

.hiddenArea {
  .text {
    p {
      // font-size: 0.8125rem;
      // font-family: var(--baseFont);
      height: 18px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      -webkit-box-orient: vertical;
    }
  }

  .check_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .content_input {
      display: inline-block !important;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }

    .content_inputBox {
      cursor: pointer;
      position: relative;
      width: 17px;
      height: 17px;
      margin: 0;
      padding: 0;
      display: inline-block !important;

      &::before {
        content: "";
        width: 17px;
        height: 17px;
        border-radius: 3px;
        border: 1px solid #c7c7c7;
        background-color: #fff;
        position: absolute;
        left: -1px;
        top: -1px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
        -o-transition: border 0.2s linear 0s, color 0.2s linear 0s;
        transition: border 0.2s linear 0s, color 0.2s linear 0s;
      }
    }

    &.show {
      .content_inputBox {
        &::before {
          border-width: 8.5px;
          border-color: #000;
        }

        &::after {
          font-family: "FontAwesome";
          content: "\F00C";
          color: #fff;
          position: absolute;
          top: -2px;
          font-size: 12px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }

  .sort_number {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    p {
      font-family: var(--baseFont);
      font-size: 1.875rem;
      text-align: center;
    }

    input {
      text-align: center;
      text-align: center;
      display: flex;
      width: 70px;
      border: 0;
      font-size: 1.3rem;
      font-weight: 600;
      background-color: transparent;
    }
  }

  .switch_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .switchery {
      width: 35px;
      height: 20px;

      > small {
        width: 20px;
        height: 20px;
      }
    }
  }

  .edit_btnGroup {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    span {
      margin: 0 10px;
    }
  }

  .paragraph_type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    span {
      margin-right: 12px;
      padding-top: 5px;
    }
  }

  .file_detail_box {
    color: #fff;
    background-color: #464646;
    border: solid 1px #10cfbd;
    -webkit-box-shadow: 5px 5px 6px #b5b5b5;
    box-shadow: 5px 5px 6px #b5b5b5;
    padding: 30px;
    // position: fixed;
    position: absolute;
    // left: 0;
    left: initial !important;
    right: 16.5px !important;
    // top: 0;
    top: calc(-100% - 40px) !important;
    transform: translateX(50%);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s;
    -moz-transition: opacity 0.8s ease 0s;
    -ms-transition: opacity 0.8s ease 0s;
    -o-transition: opacity 0.8s ease 0s;
    transition: opacity 0.8s ease 0s;

    &.open {
      z-index: 1;
      visibility: visible;
      opacity: 1;
    }

    .info_detail {
      padding: 0;
    }

    p {
      font-weight: 300;
    }

    span {
      color: #10cfbd;
      font-weight: 900;
      margin-right: 5px;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #464646 transparent transparent transparent;
      position: absolute;
      left: 50%;
      bottom: -6px;
      z-index: 1;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .img_title {
    .title {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }

    .subtitle {
      font-size: 0.8125rem;
    }
  }

  .scroll-wrapper {
    > .scroll-element.scroll-y {
      .scroll-bar {
        opacity: 1;
      }
    }
  }

  .composite_btn {
    // margin: 20px 0 0 0;
    // padding-bottom: 0px;
    // margin: 20px 0 45px 0;
    // padding-bottom: 60px;

    &:has(.addValueInTable) {
      // margin: 20px 0 45px 0;
      // padding-bottom: 60px;
    }

    .for_ajax_box {
      // width: 100%;
      // height: 100%;
      // position: absolute;
      pointer-events: none;
    }

    .tips {
      display: none;
      padding: 0;
      margin: 0;
    }

    .box {
      width: 100%;
      height: 40px;
      border: solid 1px #e5e5e5;

      // margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 0 1px;
      // position: sticky;
      // top: 79px;
      background-color: #e5e5e5;
      pointer-events: auto;
      // z-index: 10;
      border-radius: 3px;

      li {
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 5px;
        transition: all 0.5s ease 0s;
        user-select: none;
        background-color: #fff;

        p {
          font-size: 1.2rem;
        }

        &:last-child {
          border-right: none;
        }

        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
  }

  .content_box {
    .no_content {
      width: 100%;
      height: 560px;
      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        font-size: 2.25rem;
        font-family: var(--baseFont);
        margin-bottom: 30px;
      }

      .text {
        font-size: 1rem;
        font-family: var(--baseFont);
        max-width: 350px;
        text-align: center;
      }
    }

    .content_a {
      position: relative;
      margin: 0 auto;
      > .frame {
        > li:first-child:not(.inventory) {
          position: sticky;
          top: 79px;
          z-index: 3;
        }
      }

      .tabulation_head {
        .sontable_action {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 5px;
          .title {
            padding: 6px 10px;
          }
        }
        .sontable_action_area {
          display: none;
          // display: flex;
          background-color: #f7f7f7;
          padding: 10px;
          border: 1px solid #c7c7c7;
        }

        &.three {
          margin-bottom: 0px;

          .list {
            min-height: auto;
            margin: 20px 0px 0px 0px;
            border-left: 0;
            border-top: 0;
            border-right: 0;
          }
        }

        .item {
          font-size: 1.2rem;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 12px;
            background-color: #d1d1d1;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }

        .sort_number {
          p {
            font-size: 1.2rem;
          }
        }

        .list {
          height: 35px;
          margin: 20px 0 0 0;
          display: flex;
          align-items: center;
          // border: 1px solid #c7c7c7;
        }
      }

      .tabulation_body {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        .item {
          position: relative;
          display: flex;
          align-items: center;
          flex-direction: row;

          // &::after {
          //   content: "";
          //   display: block;
          //   width: 1px;
          //   height: 20px;
          //   background-color: #c7c7c7;
          //   position: absolute;
          //   right: 0;
          //   top: 50%;
          //   -webkit-transform: translateY(-50%);
          //   -ms-transform: translateY(-50%);
          //   transform: translateY(-50%);
          // }

          // &:last-child {
          //   &::after {
          //     display: none;
          //   }
          // }
        }

        .quill_partImg {
          .item {
            &::after {
              display: none;
            }
          }
        }

        .list {
          transition: all 0.5s ease 0s;

          width: 100%;
          min-height: 70px;
          border-radius: 3px;
          border: solid 1px #e5e5e5;
          display: flex;

          align-items: center;
          position: relative;

          &.active {
            // background-color: #66dad75c;
            > .list_box {
              background-color: #f5f5f5;
            }
            // border: 1px solid #000;
          }

          .wait-save-box {
            position: absolute;
            width: 100%;
            height: 100%;
            // z-index: 9;
            z-index: 1;
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(255 147 147 / 30%);
            border: 1px solid #ff0000;

            &.active {
              display: flex;
            }
          }

          .wait-save-del {
            width: fit-content;
            height: fit-content;
            background-color: #ff0000;
            z-index: 9;
            right: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 15px;
            color: #fff;
            gap: 0 10px;
            border-radius: 3px;
          }

          .wait-save-del-cancel {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }

          &.chosen {
            border: solid 1px #000;
            background-color: #f3f3f3;

            .text {
              input {
                background-color: #f3f3f3;
              }
            }
          }

          .edit_btnGroup {
            span {
              cursor: pointer;
            }
          }
        }
      }

      .s_img {
        max-width: 80px;
        max-height: 60px;
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .text {
        width: 100%;
        padding: 0 20px;

        .s_img {
          max-width: 60px;
          padding: 0;
          margin-right: 10px;
        }
      }

      .check_box {
        min-width: 70px !important;
        // height: 100%;
      }

      .sort_number {
        min-width: 70px;
      }

      .switch_btn {
        min-width: 80px;
      }

      .edit_btnGroup {
        min-width: 105px;
        gap: 0 10px;
        .fa {
          margin: 0;
        }
      }

      .paragraph_type {
        width: 100%;
        max-width: 210px;
        padding: 0 20px;
      }

      .file_capacity {
        width: 100%;
        max-width: 120px;
        text-align: center;

        p {
          width: 100%;
        }
      }
    }
  }

  .detailEditor {
    .table_list {
      .list_frame {
        padding: 20px 50px;
      }
    }

    .btn_ctable {
      cursor: pointer;
    }

    .list_frame {
      width: 100%;
      background-color: #fff;
      display: none;

      .part_table {
        .inventory {
          .table_head {
            .table_head_th {
              .td {
                p {
                  font-size: 0.75rem;
                  height: 22px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }

      .list_headBar {
        width: 100%;
        display: flex;
        position: sticky;
        top: 119px;
        z-index: 1;
        // border-top: 1px solid #c7c7c7;
        background-color: #424242;
        &.top {
          top: 108px;
        }

        li {
          cursor: pointer;
          width: 100%;
          height: 40px;
          color: #fff;
          // background-color: #ffffff;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease 0s;
          p {
            font-size: 1.2rem;
          }

          // &::after {
          //   content: "";
          //   display: block;
          //   width: 0;
          //   height: 2px;
          //   background-color: #10cfbd;
          //   position: absolute;
          //   left: 0;
          //   bottom: 0;
          //   transition: 0.3s;
          // }

          &.now {
            background-color: #10cfbd;

            // &::after {
            //   width: 100%;
            // }
          }
        }
      }

      .list_body {
        padding: 30px 80px 0 80px;
        min-height: 300px;

        .list_bodyL {
          display: none;

          &.part_table {
            max-width: 720px;
            margin: 0 auto;
          }

          &:first-child {
            display: block;
          }

          &.part_img {
            .check_box {
              position: relative;
            }
          }
        }
        .list_part_body {
          > .inventory {
            > .tips {
              margin-bottom: 10px;
            }
            .frame {
              .table_head {
                background: #fff;
                border: none;
                border-bottom: 1px solid #000;
                border-radius: 0;
                .tool_btn {
                  font-size: 1.2rem;
                  border-right: none;
                  transition: none;
                  &:hover {
                    background-color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .inventory {
        flex-direction: column;
        padding: 30px 0;
        gap: 5px 0;

        &:first-child {
          border-top: none;
          padding-top: 0;
        }

        .radio_area {
          padding-top: 5px;
        }

        // 2025.07.10 Ash 新增
        .inner {
          width: 100%;
        }

        .table_head {
          position: sticky;
          top: 159px;
          // z-index: 101;
          z-index: 1;
          background-color: #fff;
          border: solid 1px #c7c7c7;
          border-radius: 3px;

          .table_head_th {
            border-top: solid 1px #c7c7c7;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &:first-child {
              border-top: none;
            }

            .para_set {
              height: 100%;

              .select_object {
                height: 100%;

                p {
                  padding-left: 25px;
                }
              }
            }

            .td {
              cursor: pointer;
              width: 100%;
              padding: 9px 0;
              border-right: solid 1px #c7c7c7;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-transition: all 0.5s ease 0s;
              -moz-transition: all 0.5s ease 0s;
              -ms-transition: all 0.5s ease 0s;
              -o-transition: all 0.5s ease 0s;
              transition: all 0.5s ease 0s;
              user-select: none;

              span {
                margin-right: 5px;
              }

              &.input,
              &.dropdown {
                padding: 0;

                > span {
                  width: 40px;
                  height: 100%;
                  margin: 0;
                  border-left: solid 1px #c7c7c7;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                }

                input {
                  padding: 10px;
                  border: none;
                }

                .quill_select {
                  width: 100%;
                }
                &:hover {
                  background-color: inherit;
                }
              }

              &:hover {
                background-color: #c7c7c7;
              }

              &:last-child {
                border-right: none;
              }

              .select_object {
                padding: 0;
                border: none;
              }
            }
          }
        }

        .table_box {
          border: solid 1px #e2e2e2;
          display: flex;
          flex-direction: column;
          gap: 1px 0;
          background-color: #e2e2e2;
          &.quill_partImg {
            border-top: none;
          }
        }
      }
    }

    .list {
      &.stack_state {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }

    .list_box {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      .radio_btn_switch {
        justify-content: center;
        .box {
          left: auto !important;
        }
      }
    }
  }

  .note-editor {
    border: 1px solid #e5e5e5;
    &:hover {
      border: solid 1px #10cfbd;
    }
    .note-toolbar {
      background-color: #f5f5f5;
    }
    .note-editing-area {
      box-shadow: none;
    }
    .note-editable {
      padding: 8px 12px;
    }
  }
}

@media (max-width: 1500px) {
  .hiddenArea {
    .detailEditor {
      .list_frame {
        .part_img {
          .inventory {
            .table_head {
              border-right: none;
              border-bottom: none;

              .table_head_th {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                .td {
                  width: 33.333%;
                  border-bottom: solid 1px #c7c7c7;

                  &:last-child {
                    border-right: solid 1px #c7c7c7;
                  }
                }
              }
            }
          }
        }

        .part_table {
          .inventory {
            .table_head {
              .table_head_th {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                td {
                  width: 50%;

                  &.tool_btn {
                    width: 25%;
                    border-bottom: solid 1px #c7c7c7;
                  }

                  &:last-child {
                    border-right: solid 1px #c7c7c7;
                  }
                }
              }
            }
          }
        }

        .list_body {
          padding: 60px 5% 0 5%;
        }
      }
    }
  }
}

/* 未知 */
.file_path_frame {
  width: 50vw;

  .set_btn {
    margin-bottom: 20px;
  }

  .open_file_path_btn {
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #c7c7c7;
    font-size: 0.8125rem;
    width: 100%;
    padding: 10px 12px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      padding-right: 20px;
    }

    .icon {
      margin-left: auto;
      display: block;
    }
  }

  .close_file_path_btn {
    cursor: pointer;

    .fbtn {
      border-radius: 3px;
      background-color: #775bc2;
      width: 100px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    p {
      color: #fff;
    }
  }

  .content-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;

    &.show_path_box {
      -webkit-animation-name: content-sidebar-show;
      animation-name: content-sidebar-show;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    &.unshow_path_box {
      -webkit-animation-name: content-sidebar-unshow;
      animation-name: content-sidebar-unshow;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}

@-webkit-keyframes content-sidebar-show {
  0% {
    left: 0;
    z-index: -1;
  }

  99% {
    left: -300px;
    z-index: -1;
  }

  100% {
    left: -300px;
    z-index: 1;
  }
}

@keyframes content-sidebar-show {
  0% {
    left: 0;
    z-index: -1;
  }

  99% {
    left: -300px;
    z-index: -1;
  }

  100% {
    left: -300px;
    z-index: 1;
  }
}

@-webkit-keyframes content-sidebar-unshow {
  0% {
    left: -300px;
    z-index: -1;
  }

  100% {
    left: 0px;
    z-index: -1;
  }
}

@keyframes content-sidebar-unshow {
  0% {
    left: -300px;
    z-index: -1;
  }

  100% {
    left: 0px;
    z-index: -1;
  }
}

/* 找不到 id 為 search 的元素 */
#search {
  .inventory {
    > .title {
      &:has(.radioSmall) {
        max-width: 280px;
      }
    }
  }
}

/* 右側展開欄的每個欄位 */

.inventory {
  border-bottom: solid 1px #e2e2e2;
  padding: 18px 0;
  display: flex;
  align-items: flex-start;

  .input {
    padding: 10px 12px;

    input {
      width: 100%;
    }
  }

  .subtitle {
    // font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    // margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-all;
  }

  > .title {
    width: 100%;
    max-width: 210px;
    min-width: 150px;
    min-height: 20px;
    padding: 0 20px 0 2px;

    img {
      display: block;
    }

    .add {
      color: #fff;
      display: none;
    }
  }

  > .inner {
    width: 100%;
    // min-height: 32px;
    &:has(.table-editor) {
      width: calc(100% - 210px);
    }
  }

  .no_selfie {
    img {
      display: none;
    }

    .add {
      display: block;
    }
  }

  .with_icon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #c7c7c7;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    input {
      border: none;
    }

    .remove {
      cursor: pointer;
      padding: 13px;
    }
  }

  .owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 12px;
    }

    .name {
      font-weight: 900;
    }
  }

  .upload_frame {
    cursor: pointer;
    background-color: #f0f0f0;
    border: solid 1px #c7c7c7;
    border-radius: 3px;
    width: 100%;
    height: 200px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .file_box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;

    .form-name {
      width: 100%;
      font-size: 1rem;
      font-weight: 900;
      color: #000;
    }
  }

  .psbox {
    position: relative;

    &.gray {
      color: #c7c7c7;
    }

    .icon {
      cursor: pointer;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  &:first-child {
    border-top: solid 1px #000;
  }
  &:last-child {
    border-bottom: none;
  }
}

/*
  不確定 sortStatusSet 差在哪裡
  在 cms 編輯資料右側選單中前三個 inventory 帶有此類別
*/

.sortStatusSet {
  &.inventory {
    display: flex;
    align-items: flex-start;

    > .inner {
      display: flex;
      align-items: center;
      // padding-top: 10px;
      .state_button {
        width: 100%;
      }
    }
  }

  .state_box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .normal_input {
    max-width: 100px;
    margin-right: 20px;
    text-align: center;
  }

  .ios_switch,
  .____ios_switch {
    margin-right: 20px;
  }

  .tips {
    margin: 0;
  }
}

/* 找不到 fileDownloadConnect */
.fileDownloadConnect {
  .text {
    span {
      margin-right: 12px;
      padding-top: 5px;
    }
  }
}

/* 未找到 file_authority */
.file_authority {
  input {
    &[type="password"] {
      font-size: 0.875rem;
      letter-spacing: 1px;
    }
  }
}

.ThreeContent {
  .type {
    line-height: 1;
    margin-bottom: 5px;
  }
}
