.data-aggrid.ag-theme-alpine {
  --ag-header-height: 40px;
  --ag-row-height: 40px;
  --ag-selected-row-background-color: rgb(145 248 255 / 24%);
  --ag-row-hover-color: rgb(145 248 255 / 24%);
  height: calc(100vh - 125px);
  padding-top: 0px;
  pointer-events: auto;
}
.data-aggrid .ag-header-row,
.data-aggrid .ag-pinned-left-header {
  background-color: #f5f5f5;
}
.data-aggrid .ag-center-aligned-header .ag-header-cell-label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ag-cell-focus,
.ag-cell-no-focus {
  border: none !important;
}

.ag-edit-btn {
  cursor: pointer;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.rank_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.rank_edit svg {
  display: none;
}

.text_editable {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent !important;
}
.text_editable:hover .rank_edit svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ag-root-wrapper {
  border: none !important;
}

.ag-header {
  border-top: 1px solid #e4e4e4 !important;
  border-bottom: 1px solid #e4e4e4 !important;
}
.ag-header * {
  font-size: 1.2rem !important;
}

.ag-pinned-left-header {
  border-right: none !important;
}

.ag-cell {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell):not(:focus) {
  border-right: none !important;
}
.ag-cell .checkbox-field {
  width: 16px;
  margin: 0 auto;
}
.ag-cell .checkbox-field .ag-checkbox-input-wrapper {
  display: block;
}

.ag-cell-wrapper {
  width: 100%;
}

.ag-root-wrapper .ag-cell-value,
.ag-root-wrapper .ag-group-value {
  padding: 5px 0;
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: left;
}
.ag-root-wrapper .ag-color-cell {
  border-radius: 50%;
  width: 25px !important;
  height: 25px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 1px solid #b2b2b2;
  margin: 0 auto;
}
.ag-root-wrapper .ag-color-cell .ag-color-cell-transparent {
  background-image: none !important;
}
.ag-root-wrapper .ag-color-cell .ag-color-cell-colorText {
  display: none;
}
.ag-root-wrapper .ag-color-cell .ag-color-cell-colorBlock {
  border: none !important;
}
.ag-root-wrapper .img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 100px; */
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.ag-root-wrapper .img_box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
  /* background: linear-gradient(180deg, #e6e6e6 0%, #9c9c9c 100%);
  border: 1px solid rgba(0, 0, 0, 0.2); */
  z-index: -1;
}
.ag-root-wrapper .img_box img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.ag-checkbox-input-wrapper.ag-checked:after,
.ag-radio-button-input-wrapper.ag-checked:after {
  color: #34cfbd !important;
}

.ag-theme-alpine-dark .ag-chart-menu-close:hover,
.ag-theme-alpine-dark .ag-chart-menu-icon:hover,
.ag-theme-alpine-dark .ag-chart-settings-next:hover,
.ag-theme-alpine-dark .ag-chart-settings-prev:hover,
.ag-theme-alpine-dark .ag-column-group-icons:hover,
.ag-theme-alpine-dark .ag-column-select-header-icon:hover,
.ag-theme-alpine-dark .ag-filter-toolpanel-expand:hover,
.ag-theme-alpine-dark .ag-floating-filter-button-button:hover,
.ag-theme-alpine-dark .ag-group-contracted .ag-icon:hover,
.ag-theme-alpine-dark .ag-group-expanded .ag-icon:hover,
.ag-theme-alpine-dark .ag-group-title-bar-icon:hover,
.ag-theme-alpine-dark .ag-header-cell-menu-button:hover,
.ag-theme-alpine-dark .ag-header-expand-icon:hover,
.ag-theme-alpine-dark .ag-panel-title-bar-button:hover,
.ag-theme-alpine-dark .ag-set-filter-group-icons:hover,
.ag-theme-alpine-dark .ag-side-button-button:hover,
.ag-theme-alpine-dark .ag-tab:hover,
.ag-theme-alpine .ag-chart-menu-close:hover,
.ag-theme-alpine .ag-chart-menu-icon:hover,
.ag-theme-alpine .ag-chart-settings-next:hover,
.ag-theme-alpine .ag-chart-settings-prev:hover,
.ag-theme-alpine .ag-column-group-icons:hover,
.ag-theme-alpine .ag-column-select-header-icon:hover,
.ag-theme-alpine .ag-filter-toolpanel-expand:hover,
.ag-theme-alpine .ag-floating-filter-button-button:hover,
.ag-theme-alpine .ag-group-contracted .ag-icon:hover,
.ag-theme-alpine .ag-group-expanded .ag-icon:hover,
.ag-theme-alpine .ag-group-title-bar-icon:hover,
.ag-theme-alpine .ag-header-cell-menu-button:hover,
.ag-theme-alpine .ag-header-expand-icon:hover,
.ag-theme-alpine .ag-panel-title-bar-button:hover,
.ag-theme-alpine .ag-set-filter-group-icons:hover,
.ag-theme-alpine .ag-side-button-button:hover,
.ag-theme-alpine .ag-tab:hover {
  color: #34cfbd !important;
}
.ag-theme-alpine-dark .ag-standard-button,
.ag-theme-alpine .ag-standard-button {
  width: 100%;
  margin: 0 !important;
  border: none !important;
  background-color: #3f3f3f !important;
  color: #fff !important;
}

.ag-tabs-header {
  display: none !important;
}

.ag-select .ag-picker-field-wrapper {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0 10px;
}
.ag-select .ag-picker-field-display {
  font-size: 14px;
  margin: 7px 0 !important;
}

.ag-picker-field-wrapper:focus {
  border: 1px solid #34cfbd !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ag-list-item.ag-active-item {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 208, 190, 0.1)), to(rgba(52, 208, 190, 0.1))), #ffffff;
  background: linear-gradient(0deg, rgba(52, 208, 190, 0.1), rgba(52, 208, 190, 0.1)), #ffffff;
}

.ag-select-list {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

input[class^=ag-]:not([type]), input[class^=ag-][type=date], input[class^=ag-][type=datetime-local], input[class^=ag-][type=number], input[class^=ag-][type=tel], input[class^=ag-][type=text] {
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  padding: 9px 10px !important;
}
input[class^=ag-]:not([type]):focus, input[class^=ag-][type=date]:focus, input[class^=ag-][type=datetime-local]:focus, input[class^=ag-][type=number]:focus, input[class^=ag-][type=tel]:focus, input[class^=ag-][type=text]:focus {
  border-color: #34cfbd !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

textarea[class^=ag-] {
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  padding: 9px 10px !important;
}
textarea[class^=ag-]:focus {
  border-color: #34cfbd !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ag-status-bar {
  border: none !important;
  position: fixed !important;
  bottom: 3px !important;
  height: 31px !important;
  font-size: 1rem !important;
  line-height: 1 !important;
  padding: 0 !important;
  padding-left: 12px !important;
}

.ag-paging-panel {
  padding-block: 10px !important;
  padding-right: 13px !important;
  padding-left: 20px !important;
  border-top: 1px solid #dde2eb !important;
  font-size: 1rem !important;
}
.ag-paging-panel .ag-paging-page-summary-panel {
  margin: 0 !important;
}

.ag-paging-button.ag-disabled {
  color: rgb(199, 199, 199) !important;
}

.ag-filter-apply-panel {
  display: block !important;
}
.ag-filter-apply-panel ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.ag-filter-apply-panel ul > li:not(:first-child) {
  margin-top: 10px;
}
.ag-filter-apply-panel ul > li label {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 0 0 0 8px;
  cursor: pointer;
}
.ag-filter-apply-panel .input-wrap {
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 1;
}
.ag-filter-apply-panel .input-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.ag-filter-apply-panel .input-wrap input[type=checkbox] + .fake-input::after {
  content: var(--ag-icon-font-code-checkbox-unchecked, "\f108");
  color: var(--ag-checkbox-unchecked-color);
  font-family: var(--ag-icon-font-family);
  font-size: var(--ag-icon-size);
  line-height: var(--ag-icon-size);
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.ag-filter-apply-panel .input-wrap input[type=checkbox]:checked + .fake-input::after {
  content: var(--ag-icon-font-code-checkbox-checked, "\f106");
  color: #34cfbd;
}
.ag-filter-apply-panel .input-wrap input[type=radio] + .fake-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.ag-filter-apply-panel .input-wrap input[type=radio] + .fake-input::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #34cfbd;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.ag-filter-apply-panel .input-wrap input[type=radio]:checked + .fake-input::after {
  opacity: 1;
}
.ag-filter-apply-panel .input-wrap .fake-input {
  position: relative;
  width: 100%;
  height: 100%;
}

.wdd-relation .ag-cell-wrapper .ag-cell-wrapper .ag-group-contracted,
.wdd-relation .ag-cell-wrapper .ag-cell-wrapper .ag-group-expanded {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=custom_aggrid.css.map */