.bk_spreadsheet_header_style {
    background-color: #10cfbd !important;
}
.bk_spreadsheet_freeze_col_left_style{
    border-left: 2px solid green !important;
}
.bk_spreadsheet_freeze_col_right_style{
    border-right: 2px solid green !important;
}
.bk_spreadsheet_freeze_row_top_style{
    border-top: 2px solid red !important;
}
.bk_spreadsheet_freeze_row_bottom_style{
    border-bottom: 2px solid red !important;
}