/*
  共用
  阻擋視窗
*/

.block_out {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;

  .box {
    width: 35%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-circle-indeterminate {
    width: 100px;
    height: 100px;
  }

  &.show {
    z-index: 14;
    visibility: visible;
    opacity: 1;

    .pace-activity {
      width: 50px;
      height: 50px;
      border: solid 8px transparent;
      border-top-color: #5e00ff;
      border-left-color: #5e00ff;
      border-radius: 50px;
      background-size: 100% auto;
      margin: 0 auto;
      display: block;
      animation: pace-spinner 400ms linear infinite;
    }
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
