.folder-tree {
  background-color: #fff;
  padding: 0 20px;

  .main-tree {
    margin: 0;
    text-align: left;
    ul {
      position: relative;
      padding-left: 7px;
      padding-top: 0;
    }
  }

  .tree-title {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #626262;
    padding: 4px 0;
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
    list-style-type: none;
    user-select: none;

    > .title {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      &::before {
        width: 16px;
        height: 17px;
        position: relative;
        content: "\e903";
        font-family: "fmsIcon";
        font-size: 1rem;
        z-index: 1;
        padding-top: 2px;
        margin-right: 4px;
      }
      > .text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    > .arrow {
      width: 15px;
      position: relative;
      &::before {
        content: "\f105";
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 1rem;
        font-family: FontAwesome;
        margin: 0;
        line-height: 12px;
        transform: rotate(0deg);
        transition: transform 0.12s ease;

        transform-origin: center;
      }
    }

    &.active {
      color: #000;
      &:has(~ * .active) {
        > .title {
          &::before {
            color: #626262;
            content: "\e905";
          }
        }
      }
      > .title {
        &::before {
          color: #5e00ff;
          content: "\e905";
        }
      }
      > span {
        &.arrow {
          &::before {
            transform: rotate(90deg);
            color: #5e00ff;
          }
        }
      }
      .fms-delete {
        &::before {
          color: #5e00ff;
        }
      }
    }

    &.lock {
      > span {
        &.arrow {
          &::before {
            content: "\e900" !important;
            font-family: "fmsIcon" !important;
            transform: none !important;
            font-size: 1.2rem;
            left: 3px;
          }
        }
      }
    }

    &.trash {
      justify-content: flex-start;
      > .fms-delete {
        width: 16px;
        height: 17px;
        position: relative;
        &::before {
          position: absolute;
          top: 2px;
          font-size: 1.2rem;
        }
      }
      > .title {
        &::before {
          content: none;
        }
      }
    }
  }
  // .tree-item {
  //   word-wrap: break-word;
  //   white-space: pre-wrap;
  //   cursor: pointer;
  //   list-style-type: none;
  //   margin-left: 20px;
  //   display: none;
  //   user-select: none;
  //   padding-left: 10px;
  // }
}
